.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

.div1{
    margin: 30%;
}

.barimg{
    width: 100px;
}

.bardiv{
    font-size: large;
    margin-left: 100px;
    width: 500px;

}

/
.bar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scuerd1{
    width: 100px;
}

.imgscuerd{
    align-items: center;

}

.title_scruerd{
    align-items: center;
}

